.wrapper{ width:100%; max-width:1400px; margin:0 auto; position:relative;}

#nav_area{padding: 10px;}
.nav_con{}
.page_nav{}
.page_nav ul{display: flex;list-style: none;}
.page_nav ul li{}
.page_nav ul li::marker{display: none;}
.page_nav ul li a{padding: 0 30px;margin: 0 8px;font-size: 23px;font-weight: bold;text-decoration: none;}

#middle_area{padding: 0 10px;}
.mid_con{min-height: 200px;text-align: center;}
.mid_info{max-width: 780px;margin: 70px auto;width: 100%;}
.mid_info h2{font-size: 92px;}
.mid_info h2 span{display: block;}

#main_area{padding: 0 10px;}
.main_con{text-align: center;}
.main_info{}
.main_info h2{}
.main_info h2 span{}
.main_info p{}

main{max-width: 1286px;width: 100%;background: rgba(0, 0, 0, .6);height: 1126px;margin: auto;border-radius: 42px;}
main figure{}
main figure img{width: 500px;border-radius: 31px;border: 9px solid rgba(26, 9, 9, 0.42);}
main h2{font-size: 47px;padding: 39px 0 0;}
main p{margin: 0 200px;text-align: justify;}
main a{background: #0662bd;width: 100%;max-width: 254px;display: block;margin: auto;height: 50px;line-height: 50px;text-decoration: none;border-radius: 15px;}

footer{}
.footer_top{}
.footer_nav{}
.footer_nav ul{}
.footer_nav ul li{}
.footer_nav ul li:first-child{}
.footer_nav ul li:last-child{}
.footer_nav ul li a{}